.place__title {
    /*max-width: 460px;*/
    width: 100%;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0px;
    grid-area: title;
    align-self: end;
}


/*@media screen and (max-width: 1200px) {
    .place__title {
      width: 100%;
      max-width: 440px;
    }
  }*/

@media screen and (max-width: 900px) {
    .place__title {
        /*width: 100%;
        max-width: 340px;*/
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 700px) {
    .place__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin: auto;
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .place__title {
        margin-left: 16px;
        text-align: left;
    }
}