.page {
    background-color: #2A2C2F;
    margin: 0 auto;
    padding: 30px 0 24px 0;
    min-width: 320px;
    font-family: 'Inter', 'Arial', sans-serif;
    color: #ffffff;
    /*font-size: 16px;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    /*max-width: 100%;*/
}

@media screen and (max-width: 1024px) {
    .page {
        max-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .page {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .page {
        max-width: 320px;
    }
}