.header{
  display: flex; 
  max-width: 1184px;
  min-height: 52px;
  justify-content: space-between;
  margin: auto;
  padding: 0 48px;
  }

  @media screen and (min-width: 320px) and (max-width: 768px) {

    .header {
      padding: 0 24px;
    
      margin: auto;
    }
  
  }

  @media screen and (max-width: 320px) {

    .header {
      padding: 0 16px;
    }
  }