.footer__links {
    width: 70%;
    display: flex;
    /*flex-direction: row;
    justify-content: space-between;
    align-items: center;*/
    margin: 0;
    flex-wrap: wrap;
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .footer__links {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .footer__links {
        margin-bottom: 0;
    }
}