.intro {
    display: flex;
    flex-direction: column;
    max-width: 984px;
    margin: 0 auto;
    padding: 92px 0 0;
    /*flex-basis: calc(100% - 148px );*/
    /*margin: 0;*/
    align-items: flex-start;
    width: calc(100% - 2 *148px);
}

@media screen and (max-width: 1024px) {
    .intro {
        width: calc(100% - 2 *48px);
    }
}

@media screen and (max-width: 768px) {
    .intro {
        width: calc(100% - 2*24px);
    }
}

@media screen and (max-width: 425px) {
    .intro {
        padding-top: 64px;
        width: calc(100% - 2 *16px);
    }
}