.intro{
  display: flex;
  flex-direction: column;
  max-width: 690px;
  padding: 0;
  padding-top: 92px;
  /*flex-basis: calc(100% - 148px );
    margin-top: 92px;*/
  margin-left: 148px;
   /*margin: 0;*/
  align-items: flex-start;
  }


  @media screen and (max-width: 1024px) {
    .intro {
      margin-left: 48px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .intro {
      margin-left: 24px;
      padding-top: 88px;
    }
  }
  
  @media screen and (max-width: 425px) {
    .intro {
      margin-left: 16px;
      padding-top: 64px;
    }
  }