.footer {
    max-width: 1184px;
    /*margin: 92px auto 0;*/
    padding: 92px 48px 0;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: calc(100% - 2 *48px);
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .footer {
        width: calc(100% - 2 *24px);
        padding: 88px 0 24px;
    }
}

@media screen and (max-width: 600px) {
    .footer {
        padding: 0;
        padding-top: 64px;
        margin: 0;
        margin-left: 16px;
        flex-direction: column;
    }
}